<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
</head>
<body style="width: 96%;margin-right: auto;margin-left: auto;color: #383434;font-weight: bold;font-size: 16px;font-family: 'PT Sans', Helvetica Neue, Helvetica, Lucida Grande, tahoma, verdana, arial, sans-serif;">

<div style="padding-top: 20px;padding-bottom: 20px">

    <a href="http://vknotice.ru"
       style="padding-left: 2%;padding-right: 2%;text-decoration: none;color: #383434;display: block;font-size: 30px;">
        <span style="color: #7292bd;">VK</span>NOTICE<span style="color: #7292bd;">SPB</span></a>
    <span style="padding-left: 2%;padding-right: 2%;display: block;color: #C2BFB8;font-size: 14px;margin-left: 8px;">Рассылка объявлений о сдаче жилья</span>

</div>

<div style="padding-left: 2%;padding-right: 2%;">

    <div>
        Для вас <span style="color: #7292bd;">{{ handled_comments | length }}</span> новых объявлений
    </div>

    {% for handled_comment in handled_comments %}

        {% set comment = comments[handled_comment.getId()] %}

        <hr style="border: none;color: #E0DDD5;background-color: #E0DDD5;height: 2px;">

        <div>

            {% for subway_id in handled_comment.getSubwayIds() %}

                <span style="width: 25px; height: 25px; border-radius: 50%; background-color: #7292bd; display: inline-block;color: #ffffff; line-height: 25px; text-align: center;font-weight: bold; margin-bottom: 5px;">М</span>
                <span style="padding-right: 10px">{{ subways[subway_id] }}</span>

            {% endfor %}

        </div>

        <div>

            <span style="width: 25px; height: 25px; border-radius: 50%; background-color: #7292bd; display: inline-block;color: #ffffff; line-height: 25px; text-align: center;font-weight: bold;">К</span>
            {% if comment.getType() == constant('AppBundle\\Object\\Comment::TYPE_FLAT') %}
                <span style="padding-right: 10px">Квартира</span>
            {% else %}
                <span style="padding-right: 10px">Комната</span>
            {% endif %}

            <a href="https://vk.com/id{{ comment.getUserId() }}" style="text-decoration: none;color: #7292bd"
               target="_blank" rel="noopener">
                <span style="width: 25px; height: 25px; border-radius: 50%; background-color: #7292bd; display: inline-block;color: #ffffff; line-height: 25px; text-align: center;font-weight: bold;margin-bottom: 5px;">С</span>
                <span>Связаться</span>
            </a>
        </div>

        <hr style="border: none;color: #E0DDD5;background-color: #E0DDD5;height: 2px;">

        <div style="padding-bottom: 5px">
            {{ comment.getText() }}
        </div>

        <div style="margin-bottom: 45px">
            {% if comment.getPhotos() is not empty %}
                <div style="width: 100%;font-size: 0">
                    {% for photo in comment.getPhotos() %}

                        <img src="{{ photo }}"
                             style="width: 100%; height: auto; margin-bottom: 5px">

                    {% endfor %}
                </div>
            {% endif %}
        </div>

    {% endfor %}

</div>

<hr style="border: none;color: #E0DDD5;background-color: #E0DDD5;height: 2px;">

<div class="footer" style="padding-top: 20px;padding-bottom: 20px;height: 50px;">
    <span style=" color: #C2BFB8;display: block;font-size: 14px;text-align: center;">Вы получили это письмо, поскольку подписаны на рассылку уведомлений из сообществ vk.</span>
    <a href="http://vknotify.ru/unsubscibe/{{ email_hash_id}}"
       style="color: #C2BFB8;display: block;font-size: 14px;text-align: center; text-decoration: none">Отписаться</a>
</div>

</body>
</html>
