<!DOCTYPE html>
<html>
<head lang="ru">
    <base href="/">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1 maximum-scale=1 user-scalable=no">
    <link rel="stylesheet" href="{{ asset('style/common.css') }}">
</head>
<body>

<div class="header">
    <h1>
        <span class="label-vk">VK</span>NOTE<span class="label-spb">SPB</span>
    </h1>
    <span class="subtext">Рассылка объявлений о сдаче жилья</span>
</div>

<div class="content">

    <div class="info">
        <p>Искать жилье стало проще!</p>
        <p>Получай моментальные уведомления о сдаче жилья из популярных групп соцсети VK.com на свой почтовый ящик</p>
        <p>Как это работает?</p>
        <ul>
            <li>Выбери необходимый тип жилья</li>
            <li>Выбери станцию метро, около которой хотел бы снять жилье</li>
            <li>Впиши свой почтоый ящик</li>
            <li>Нажми кнопку "подписаться"</li>
            <li>Готово!</li>
        </ul>
        <p>Как только будет размещенно объявление, которое вам подходит, оно будет выслано
            на ваш почтовый ящик</p>
    </div>

    <div class="fields">

        <div class="flat-email-underground-button">

            <div class="underground">

                <div class="underground-block">

                    <div class="inner-block">
                        <ul>
                            {% for subway in subways %}
                                <li>
                                    <input id="underground-{{ subway.id }}" type="checkbox" value="{{ subway.id }}">
                                    <label for="underground-{{ subway.id }}">{{ subway.name }}</label>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>

                </div>
            </div>

            <div class="flat-email-button">

                <div class="flat-block">

                    <ul>
                        <li>
                            <input id="flat-1" type="checkbox">
                            <label for="flat-1">Квартира</label>
                        </li>
                        <li>
                            <input id="flat-2" type="checkbox">
                            <label for="flat-2">Комната</label>
                        </li>
                    </ul>

                </div>


                <div class="email-block">
                    <input type="text" placeholder="mrsuh6@gmail.com">
                </div>


                <div class="button-block">
                    <button type="button">ПОДПИСАТЬСЯ</button>
                </div>

            </div>

        </div>

    </div>

</div>

{#<div class="footer"></div>#}

</body>

</html>